*{
    padding: 0;
    box-sizing: border-box;
}

/*----------Estilos Gerais---------*/
html{
    scroll-behavior: smooth;
    background-color: #127CA6;
    max-width: 1200px !important;
    margin:10px auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 20px;
}

h1{
    color: #104573;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-top:10px;
    padding-bottom:10px;
    font-weight: bolder;
}

table{
    padding-left: 20px; 
}

td{
    text-align: center;
}

input{
    text-align: center;
}